<div id="footer" class="bg-white text-center">
    <div class="container-fluid">
        <!-- social media icons -->
        <div class="social-icons mt-4">
            <a href="https://facebook.com/SatishAwal" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.twitter.com/satishawal" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/satishawal" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.github.com/SatishAwal" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/satish-awal-199b37118" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <p>
        <!-- Property Binding -->
        <!-- footer component uses String Interpolation
        to display name,date and country from the creator object. -->
        © {{creator.date}} {{creator.name}}. All rights reserved. Made in {{creator.country}}.
    </p>
</div>